/* heart */


.box1{
	width: 100px;
	height: 100%;
	margin: 0 auto;
	.nav{
	display: block;
	width: 50%;
	height: 100%;
	background: orange;
	float: left;
	margin: 0 auto;
	font:16px/3 "宋体";
	text-align: center;
	color: #fff;
	text-decoration: none;
}
	.nav:first-child{
		background: #fff;
		color: orange;
	}
	.nav:hover{
		text-decoration: none;
	}
}

.box{
	background: red;
}
.box2{
	background: #fff;
	margin: 48px 0 54px 0;
	height: 100%;
	overflow: auto;
	display: block;
	display: none;
	.swiper-container{
		height: 300px;
		width: 100%;
		a{
			width: 250px;
			display: block;
			margin: 0 auto;
			height: 100%;
		}
	}
	img{
				width: 100%;
				height: 100%;
		}
	.pp,.imgs{
		border-top: 10px solid yellow;  
	}
	.pp,h4,h5{
		text-indent: 2%;
		span{
			color: #cca;
		}
	}
	h4{
		color: pink;
		span{
			color: pink;
		}
	}
}

.box2:last-child{
	font: 150px/2 "黑体";
	text-align: center;
	color: orange;
}

/* foot */
.box>div:nth-child(3)>a{
	display: block;
	width: 33.3%;
	height: 100%;
	color: #fff;
	text-align: center;
	font: 16px/3 "黑体";
}
.box>div:nth-child(3){
	background: #fff;
}
.box>div:nth-child(3)>a:nth-child(1){
	.fa-shopping-cart{
		margin-top:1%; 
		margin-right: 2%;
	}
	span{
		font: 24px/2 "黑体";
		color: orange;
	}
	color: orange;
	border:1px solid orange;
	width: 33.2%;
}
.box>div:nth-child(3)>a:nth-child(2){
	background:#fc0;
}
.box>div:nth-child(3)>a:nth-child(3){
	background:orange;
}